/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: SystRequ;
	border-collapse: collapse;
	border-left-style: none;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: none;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: none;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 3;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	cell-padding-left: 0px;
	cell-padding-right: 0px;
	cell-padding-top: 0px;
	cell-padding-bottom: 0px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	text-align: left;
	vertical-align: top;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Header1;
	id: 2;
	text-align: left;
	vertical-align: top;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	text-align: left;
	vertical-align: top;
	cell-padding-left: 0px;
	cell-padding-right: 0px;
	cell-padding-top: 0px;
	cell-padding-bottom: 0px;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
	text-align: left;
	vertical-align: top;
}


/* Cell Styles: */
 
.TableStyle-SystRequ
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: none;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: none;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: none;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	border-spacing: 0px 0px;
}

.TableStyle-SystRequ-Column-Column1
{
	
}

.TableStyle-SystRequ-Head-Header1
{
	
}

.TableStyle-SystRequ-HeadI-Column1-Header1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-SystRequ-HeadI-Column1-Header1 p
{
	
}

.TableStyle-SystRequ-HeadE-Column1-Header1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: left;
	vertical-align: top;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-SystRequ-HeadE-Column1-Header1 p
{
	
}

.TableStyle-SystRequ-HeadF-Column1-Header1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-SystRequ-HeadF-Column1-Header1 p
{
	
}

.TableStyle-SystRequ-HeadH-Column1-Header1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: left;
	vertical-align: top;
}

.TableStyle-SystRequ-HeadH-Column1-Header1 p
{
	
}

.TableStyle-SystRequ-HeadD-Column1-Header1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-SystRequ-HeadD-Column1-Header1 p
{
	
}

.TableStyle-SystRequ-HeadC-Column1-Header1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-SystRequ-HeadC-Column1-Header1 p
{
	
}

.TableStyle-SystRequ-HeadB-Column1-Header1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: left;
	vertical-align: top;
}

.TableStyle-SystRequ-HeadB-Column1-Header1 p
{
	
}

.TableStyle-SystRequ-HeadA-Column1-Header1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-SystRequ-HeadA-Column1-Header1 p
{
	
}

.TableStyle-SystRequ-HeadG-Column1-Header1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-SystRequ-HeadG-Column1-Header1 p
{
	
}

.TableStyle-SystRequ-Foot-Footer1
{
	
}

.TableStyle-SystRequ-FootI-Column1-Footer1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-SystRequ-FootI-Column1-Footer1 p
{
	
}

.TableStyle-SystRequ-FootE-Column1-Footer1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: left;
	vertical-align: top;
	border-top-width: 0px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-SystRequ-FootE-Column1-Footer1 p
{
	
}

.TableStyle-SystRequ-FootF-Column1-Footer1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
	border-top-width: 0px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-SystRequ-FootF-Column1-Footer1 p
{
	
}

.TableStyle-SystRequ-FootH-Column1-Footer1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: left;
	vertical-align: top;
}

.TableStyle-SystRequ-FootH-Column1-Footer1 p
{
	
}

.TableStyle-SystRequ-FootD-Column1-Footer1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
	border-top-width: 0px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-SystRequ-FootD-Column1-Footer1 p
{
	
}

.TableStyle-SystRequ-FootC-Column1-Footer1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-SystRequ-FootC-Column1-Footer1 p
{
	
}

.TableStyle-SystRequ-FootB-Column1-Footer1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: left;
	vertical-align: top;
}

.TableStyle-SystRequ-FootB-Column1-Footer1 p
{
	
}

.TableStyle-SystRequ-FootA-Column1-Footer1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-SystRequ-FootA-Column1-Footer1 p
{
	
}

.TableStyle-SystRequ-FootG-Column1-Footer1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-SystRequ-FootG-Column1-Footer1 p
{
	
}

.TableStyle-SystRequ-Body-Body1
{
	
}

.TableStyle-SystRequ-BodyI-Column1-Body1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-SystRequ-BodyI-Column1-Body1 p
{
	
}

.TableStyle-SystRequ-BodyE-Column1-Body1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-SystRequ-BodyE-Column1-Body1 p
{
	
		text-align: left;

}

.TableStyle-SystRequ-BodyF-Column1-Body1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
}

.TableStyle-SystRequ-BodyF-Column1-Body1 p
{
	
}

.TableStyle-SystRequ-BodyH-Column1-Body1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-SystRequ-BodyH-Column1-Body1 p
{
	
}

.TableStyle-SystRequ-BodyD-Column1-Body1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
}

.TableStyle-SystRequ-BodyD-Column1-Body1 p
{
	
}

.TableStyle-SystRequ-BodyC-Column1-Body1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-SystRequ-BodyC-Column1-Body1 p
{
	
}

.TableStyle-SystRequ-BodyB-Column1-Body1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-SystRequ-BodyB-Column1-Body1 p
{
	
}

.TableStyle-SystRequ-BodyA-Column1-Body1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-SystRequ-BodyA-Column1-Body1 p
{
	
}

.TableStyle-SystRequ-BodyG-Column1-Body1
{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-SystRequ-BodyG-Column1-Body1 p
{
	
}

